.App {
    text-align: center;
}

.outer-div {
    margin: 1%;
    margin-top: 5%;
    margin-bottom: 3%;
    justify-content: center;
}

.card-div {
    margin: 5%;
    /* margin-top: 100%;
    margin-bottom: 100%; */
    justify-content: center;
}

.outer-card {
    margin: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;
}

.thumbnails {
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
}